#playlist {float:left; width:200px;}
#embedContainer {margin-left:220px;}

/* Playlist Tab Styling */
.playlist .playlist-tabs {height:25px; }
.playlist .playlist-tabs a {display:block; float:left; height:24px; width:50%; font-size:13px; text-align:center; line-height:24px; cursor:pointer; -webkit-border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-right-radius:5px; -moz-border-radius-topright:5px;}
.playlist .playlist-tabs a.playlist-tab-selected {background-color:#eee; }
.playlist .playlist-tabs a:hover {background-color:#ddd; }

/* Playlist Content Styling */
.playlist-content {background-color:#eee;}
.playlist-popular {display:none;}
a.playlist-item {display:block; border-bottom:1px solid white; padding:0 5px; text-decoration:none; height:60px;}
a.playlist-item:hover, a.playlist-item-selected {background-color:#ddd;}
.playlist-item .playlist-thumb {float:left; padding-top:5px;}
.playlist-item .playlist-thumb img {border:0;}
.playlist-item .playlist-title {padding-top:8px; margin-left:58px; line-height:15px; font-size:12px; color:#333;}
